@using NewIdentity.Resources
@model List<Country> 
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Resource.SelectedCountryId</th>
            <th scope="col">@Resource.Country_Name</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <th scope="row">@country.Id</th>
                <th>@country.Name</th>

            </tr>
        }
      
     
    </tbody>
</table>