@using System.Globalization
@using Microsoft.AspNetCore.Localization
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    //var currentCulture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
        var currentCulture = HttpContextAccessor?.HttpContext?.Request?.Cookies[CookieRequestCultureProvider.DefaultCookieName] ?? "en";
    var englishSelected = "<option value=\"en\" " + (currentCulture == "en" ? "selected=\"selected\"" : "" ) + " >English</option>";
    var persianSelected = "<option value=\"fa\" " + (currentCulture == "fa" ? "selected=\"selected\"" : "") + " >فارسی</option>";
}

<form asp-controller="Home" asp-action="SetLanguage" method="post">
    <select name="culture" onchange="this.form.submit()">
        @Html.Raw(englishSelected)
        @Html.Raw(persianSelected)
    </select>
    <input type="hidden" name="returnUrl" value="~/@currentCulture" />


</form>





@* 
<input type="hidden" name="returnUrl" value="@Context.Request.Path" />
 *@