@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Profile" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form action="/Account/Logout" method="post" style="display: inline;">
                <button type="submit" class="nav-link btn btn-link text-dark custom-logout-btn">Logout</button>
            </form>


        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Country/List">Country List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Country/Create">Create Country</a>
        </li>
    }
</ul>
