@model string?
@{
    Layout = null;
}

<div style="direction: rtl">
    <p style="color: red">Thanks. click the link below for confirmation.</p><br />
    <a style="background: green; color: black;font-size: larger" href="@Model">Confirmation</a>
</div>
